services:
  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ../.env
    ports:
      - 5432:5432
    container_name: postgres

  api:
    build:
      context: ../
      target: base
      dockerfile: docker/Dockerfile
    command: npm run dev:docker
    ports:
      - 8080:8080
    volumes:
      - .././src:/home/node/app/src
    container_name: express
    env_file:
      - ../.env
    depends_on:
      - db

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    ports:
      - 5050:80
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    env_file:
      - ../.env
    depends_on:
      - db

volumes:
  postgres_data:
  pgadmin_data:
